* {
/*   font-family: 'Ubuntu', sans-serif; */
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #36393F;
  color: #fcfcfc;
  margin: 0;
  border-top: 48px solid #f26522;
  border-left: 48px solid #202225;
  height: 95vh;
  overflow: visible;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-text {
  top: -6px;
  position: absolute;
  font-weight: 600;
}

@media only screen and (min-width: 750px) {
  .top-right-text {
    right: 10px;
    top: -6px;
    position: absolute;
    font-weight: 600;
  }
}

@media only screen and (max-width: 750px) {
  .top-right-text {
    right: 10px;
    top: -6px;
    display: none;
    position: absolute;
    font-weight: 0;
  }
}


.AppTitle {
  font-family: sans-serif;
  text-align: center;
}

.index-title {
  color: #FFFFFF;
    font-size: x-large;
    font-weight: 700;
}

@media only screen and (min-width: 750px) {

  .chatterContainer {
    display: grid;
    grid-template-columns: max-content 3fr 1fr;
  }
  
}
@media only screen and (max-width: 750px) {

  .chatterContainer {
    display: grid;
    grid-template-columns: 0 4fr;
  }
  
}
.chatter {
}

.liveContainer {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-between;
  border: 0px solid cadetblue;
  margin-left: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.live-chatbox {
  max-height: 70vh;
  overflow-y: auto;
}

.form {
      margin-top: 16px;
}
.hrx-xs {
  border-top: 1px solid #474A4F;  
  margin-bottom: 0px;
  margin-right: 12px;
}

.hrx {
  border-top: 2px solid #474A4F;  
  margin-bottom: 16px;
  margin-right: 12px;
}

.message {
  background-color: #33353C;
  margin: 24px;
  padding: 12px;
  padding-left: 4px;
  margin-left: 0;
  border-left: 4px solid #4F545C;
  max-height: 70px;
}

.admin-message {
    background-color: #4B443B;
    padding: 6px;
  font-size: 85%;
    padding-left: 4px;
    margin: 24px;
    margin-left: 0;
    border-left: 2px solid #E67E22;
}

.message-from {
  color: #9156AB;
  font-size: large;
  font-weight: 600;
}

.admin-message-from {
      color: #219781;
    font-weight: 800;
}

.message-text {
  display: flex;
  color: #CBCCCE;
}

.reaction-picker {
      display: flex;
    flex-direction: column;
  margin-left: auto;
}

.emoji-keyboard {
  z-index: 1;
}

.message-time {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: .3rem;
}

.message-input {
    width: 80%;
    margin-left: 8%;
    background-color: #484B52;
    border: 0;
    height: 32px;
    color: #CBCCCE;
    padding-left: 12px;
}

@media only screen and (max-width: 750px) {
  .channelList {
      display: none;
  }
}
@media only screen and (min-width: 750px) {
  .channelList {
        display: flex;
      flex-direction: column;
      padding-top: 20px;
      align-items: flex-start;
      padding-left: 12px;
      border: 0px solid slateblue;
          max-height: 70vh;
      overflow-y: auto;
        background-color: #2F3136;
      margin-left: 24px;
        height: 100vh;
        width: 180px;
    max-width: 240px;
  }
}

.current-channel {
    padding: 4px!important;
    background-color: #42464D !important;
    width: 80%!important;
    border-left: 3px solid #E47D21!important;
    font-weight: 600!important;
}

.channel-name {
  color: #dcddde;
  cursor: pointer;
  margin: 12px 0;
  height: max-content;
  width: 90%;
} 

.channel-name:hover {
    /* color: aliceblue; */
    padding: 1px;
  padding-left: 4px;
    width: 85%;
    background-color: #36393F;
    border-left: 3px solid #9156AB;
    font-weight: 600;
}
.channel-hash {
  color: #7A7C7F;
  margin-right: 4px;
    font-size: 115%;
    font-weight: bold;
    margin-top: 20px;
}
.channel-text {
/*   margin-top: 2px;
  margin-bottom: 2px; */
}

.channels-head {
      color: #616A73;
    font-weight: 900;
      margin-bottom: 10px;
    margin-left: -8px;
}

.main {
  margin-bottom: 40px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2F3136; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #202225; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202225; 
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top:  15%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #35383e;
  color: #fcfcfc;
}

/* Modal Content */
.modal-content {
    border-left: 3px solid #faa61a;
    background-color: #33353c;
    color: #fcfcfc;
    margin: auto;
    padding: 20px;
    padding-left: 15px;
    width: 20%;
    min-width: fit-content;
    padding-top: 5px;
}

/* The Close Button */
.close {
  color: #faa61a;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.button {
  background-color: #677bc4; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}